$basic-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  font-size: 18px;
  color: white;
  font-family: $basic-font;
}

.item-container {
  background-color: rgba(85, 124, 139, 0.48);
  padding: 15px;
  border-radius: 10px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;

  & img {
    max-width: 100%;
  }
}

body {
  background-color: rgb(54, 96, 111);
}

.class-level-container {
  display: flex;
  align-items: center;
}

.title-container {
  text-align: end;
}

.class-level-container,
.title-container {
  font-size: 30px;
  
  & p {
    margin: 0;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.429);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  width: 50vw;
}

.additional-info {
  & span {
    font-weight: bold;
  }
  & button {
    border-radius: 5px;
    font-size: 20px;
  }
}

.sorting-container {
  margin: 15px 0 15px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  font-family: $basic-font;
  & select {
    background-color: rgb(54, 96, 111);
    border: none;
    color: white;
    font-size: 15px;
  }
  & label {
    color: white;
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .sorting-container {
    grid-template-columns: repeat(2, auto);
  }
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 450px) {
  .sorting-container {
    grid-template-columns: repeat(1, auto);
  }
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}