.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  /* text-align: center; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-container {
  background-color: rgba(85, 124, 139, 0.48);
  padding: 15px;
}

body {
  background-color: rgb(54, 96, 111);
}

.class-level-container {
  display: flex;
  align-items: center;
}

.title-container {
  text-align: end;
}

.class-level-container,
.title-container {
  font-size: 30px;
  
  & p {
    margin: 0;
  }
}