.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  /* text-align: center; */
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-container {
  background-color: rgba(85, 124, 139, 0.48);
}

body {
  background-color: rgb(54, 96, 111);
}
